/* common shared style */
body{
    font-family: 'Open Sans', sans-serif;
    
    
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    font-size: 15px;
    font-weight: 700;
    padding: 15px 25px;
}

.section-title{
    color:#181818;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;

}

.section-description{
    color:#757575;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif
    font-size: 18px;
    font-weight: 400


}

/* nav style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5px;
}
.nav-tite{
  color:#181818);
  font-size: 20px;
  font-weight: 800;
  
}
nav >ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
    
}
nav a{
    text-decoration: none;
    color: #474747;
}
/* head related style */
.header{
    background-color:#FFF8F3;
    background-image: url(/images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    padding: 5px 5px 0px 8px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content{
    max-width: 500px;
}
.banner .profile-pic{
    height: 300px;
}

.banner-welcome{

    color: #474747;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 0;
   
}

.banner-titel{

    color: #181818;
    font-size: 45px;
    font-weight: 600;
    margin-top: 5px;
}

/* main section style */

main{
    max-width: 1140px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.main-section{
    margin-top: 150px;
}

/* about section style */

.about{
    padding: 150px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    background: #FD6E0A1A;
    margin-top: 100px;
    margin-left: 40px;
    margin-right: 40px;

}

.About-info-containner{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}
/* skill related style */

#what-i-do-description{
    padding: 30px 150px;
}

.skill-container{
    display: flex;
    font-family: Arial, Helvetica, sans-serif
    gap
    
}
.skill{
    padding: 20px;
    border-radius: 5px;
    background: #a8a3a3;
    box-shadow: 0px 6px 30px 0px rgba(0, 0, 0, 0.06);
}
.skill-description{
    color: white;

}
/* Resume section */

.resume-colum-title{

    color#474747;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;
    

}

.resume-cointiner{
    display: flex;
    font-size: 8px;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1600px; 
    max-height: 4256px;
}

.resume-item-title{
   color:#474747;
   font-family: Arial, Helvetica, sans-serif
  font-size: 20px;
  font-weight: 700;

}

.resume-item-institute, .resume-item-description{
    color:#757575 ;

}
.resume-cointiner hr{
    margin: 20px;
}

.downlode-cv{
    text-align: center;
    margin-top: 30px;

}

